#backgroundImage {
  background-image: url("images/iPhone.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: gray;
  background-position: center;
}

.parent{
  position: relative;
}

.child{
  font-size: 14px;
  color:white;
  margin: 5px;
  position: absolute;
  top:303px;
  background-color: gray;
  padding-top: 5px;
}

h1 {
  background: rgba(128, 128, 128, 0.5);
  color: white;
}
